<!DOCTYPE html>
<html id="main-page">
	<header>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132061990-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-132061990-1');
		</script>

		<title> Community Band Finder: Find a community band or orchestra near you </title>
		<link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
		<link rel="stylesheet" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	</header>

	<body>
		<div class="wrapper">
			<div class="logo"> 
				<h2> 
					<a href='/'>
						<div class="dark-yellow">Community Band Finder</div> <div class="white" style="font-size: 15px"> Beta</div> 
					</a>
				</h2> 
			</div>
			
			<div class="card-grid">
				<% if(returned_bands.length == 0) { %>
				<div class="card">
					<h1 class="black"> No bands found within a 75 mile radius of the given location. Try <a href='/' style="color: #FC3; text-decoration: underline;">another location.</a> </h1>
				</div>
				<% } %>

				<% var count = 1; %>
				<% returned_bands.forEach(function(band) { %>
				<div class="card">
					<!-- Band Name -->
					<div class="card-band-name">
						<h1 class="black"><b><%= band.bandName %></b></h1>
					</div>

					<!-- Location -->
					<div class="card-location">
						<span class="fa fa-map-marker" aria-hidden="true"></span>
						<h4 class="black"><%= band.city %>, <%= band.state %>
							<%= band.country %> (~<%= Math.round(band.distance) %> miles) 
						</h4>
					</div>

					<!-- Image -->
					<div class="card-instrument">
						<img id="i<%= count %>"></img>
						<% count++; %>
					</div>

					<!-- Conductor -->
					<div class="card-conductor">
						<div class="inline-block">
							<img src="/assets/images/view-bands/premium/conductor.svg" />
						</div>
						<h4 class="black"><%= band.contactName %></h4>
					</div>

					<!-- Email -->
					<div class="card-email">
						<div class="inline-block">
							<img src="/assets/images/view-bands/premium/envelope.svg" />
						</div>
						<h4 class="black"><%= band.email %></h4>
					</div>
				</div>	<!-- End card -->
				<% }); %>
			</div> <!-- End grid -->

			<!-- Push content to the bottom (for the footer) -->
			<div class="push"></div>
		</div> <!-- End wrapper -->
		
		<!-- Footer -->
		<footer class="footer-distributed">

			<div class="footer-right">
				<a href="https://www.linkedin.com/in/rpwilliams96/"><i class="fa fa-linkedin"></i></a>

				<a href="https://www.github.com/rpwilliams"><i class="fa fa-github"></i></a>
			</div>

			<div class="footer-left">
				<p><a href="/about"><b>About</b> </a> <a href="http://www.ryanpaulwilliams.com/contact"><b>Contact</b> </a> <a href="https://fs27.formsite.com/billeuph/form1/index.html"><b>Update Listing</b> </a>
				<p>&copy; 2019 <a href="http://www.ryanpaulwilliams.com" style="color: inherit">Ryan Williams</a>. All rights reserved.</p>
				<!-- <p>Developed by <a class="footer-links" href='http://www.RyanPaulWilliams.com' style="color: #FC3; text-decoration: underline;">Ryan Williams.</a></p>
			</div> -->
		</footer>
	</body>
</html>

<script>

/* 14 possible icons to be displayed for each card */
var icons = {
	1: "/assets/images/main-screen/icons/premium/trumpet.svg",
	2: "/assets/images/main-screen/icons/premium/drummer_2.svg",
	3: "/assets/images/main-screen/icons/premium/flute_2.svg",
	4: "/assets/images/main-screen/icons/premium/accordian.svg",
	5: "/assets/images/main-screen/icons/premium/conductor_2.svg",
	6: "/assets/images/main-screen/icons/premium/cello.svg",
	7: "/assets/images/main-screen/icons/premium/saxophonist.svg",
	8: "/assets/images/main-screen/icons/premium/drummer_2.svg",
	9: "/assets/images/main-screen/icons/premium/drummer.svg",
	10: "/assets/images/main-screen/icons/premium/flute.svg",
	11: "/assets/images/main-screen/icons/premium/triangle.svg",
	12: "/assets/images/main-screen/icons/premium/trombone.svg",
	13: "/assets/images/main-screen/icons/premium/violin.svg",
	14: "/assets/images/main-screen/icons/premium/drummer_3.svg"
};
var NUM_ICONS = 14;
var num_bands = <%= returned_bands.length %>;

/* Get a random icon from the icons object */
function getRandomIcon() {
	/* Random number between 1 and NUM_ICONS */
	var min = 1;
	var max = NUM_ICONS;
	var randomNum = Math.floor(Math.random() * (max - min + 1)) + min;
	return icons[randomNum];
}

/* Get a number between 1 and the number of icons. If the number
   passed in is equal to the number of icons, reset. */
function getNotRandomNumber(count) {
	if(count >= NUM_ICONS) {
		return 1;
	}
	return count + 1;
}

/* Get an icon based on the number given */
function getIcon(count) {
	return icons[count];
}

/* Give each card a random icon */
function populateCardIcons() {
	var icon_num = 0;
	for(var elem = 1; elem <= num_bands; elem++) {
		var id = "i" + elem;
		// var icon = getRandomIcon();
		icon_num = getNotRandomNumber(icon_num);
		var icon = getIcon(icon_num);
		document.getElementById(id).src = icon; 
	}
}
populateCardIcons();


</script>