<!DOCTYPE html>
<html id="main-page">
	<header>
		<title> Community Band Finder: Find a community band or orchestra near you </title>
		<link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
		<link rel="stylesheet" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	</header>

	<body>
		<div class="wrapper">
			<!-- <div class="bg"></div> -->
			<div class="logo"> 
				<h2> 
					<div class="dark-yellow">Community Band Finder</div> <div class="white" style="font-size: 15px"> Beta</div> 
				</h2> 
			</div>
		
			<% returned_bands.forEach(function(band) { %>
			<div class="card-grid">
				<a href= '<%= band.homepage %>'>
					<div class="card">
						<!-- Band Name -->
						<div class="card-band-name">
							<h1 class="black"><b><%= band.bandName %></b></h1>
							<!-- <img src="../public/assets/images/view-bands/visit.svg"></img> -->
						</div>

						<!-- Location -->
						<div class="card-location">
							<span class="fa fa-map-marker" aria-hidden="true"></span>
							<h4 class="black"><%= band.city %>, <% band.state %></h4>
							<h4 class="black"><%= band.country %></h4>
						</div>

						<!-- Image -->
						<div class="card-instrument">
							<img src="/assets/images/main-screen/icons/saxophonist-playing-sax.svg"></img>
						</div>

						<!-- Conductor -->
						<div class="card-conductor">
							<div class="inline-block">
								<img src="/assets/images/view-bands/conductor.svg" />
							</div>
							<h4 class="black"><%= band.contactName %></h4>
						</div>

						<!-- Email -->
						<div class="card-email">
							<div class="inline-block">
								<img src="/assets/images/view-bands/envelope.svg" />
							</div>
							<h4 class="black"><%= band.email %></h4>
						</div>
					</div>	
				</a>
				<% }); %>

			<!-- 'Push' footer to bottom -->
			<div class="push"></div>
		</div> <!-- End footer wrapper -->
	</body>

	<footer class="footer">
		Banana
	</footer>
</html>